!!!
%meta{:'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8"}
%link{:rel => 'icon', :href => '/favicon.png'}
%meta{:name => 'generator', :content => 'http://github.com/holizz/lavender'}
%title
  = defined?(title) ? "#{title} - " : ''
  holizz.com
= yield
